<div class="col-md-12" style="text-align: right;" ng-message="required">Este campo é obrigatório</div>
<div class="col-md-12" style="text-align: right;" ng-message="umdoscampos">Preencha um dos campos</div>
<div class="col-md-12" style="text-align: right;" ng-message="cpf">CPF Inválido</div>
<div class="col-md-12" style="text-align: right;" ng-message="cnpj">CNPJ Inválido</div>
<div class="col-md-12" style="text-align: right;" ng-message="email">Informe um email válido</div>

<div class="col-md-12" style="text-align: right;" ng-message="minlength">Valor muito curto</div>
<span class="label label-danger" ng-message="maxlength">Valor muito longo</span>
<div class="col-md-12" style="text-align: right;" ng-message="max">Valor muito longo</div>
<div class="col-md-12" style="text-align: right;" ng-message="dataMaiorQueHoje">Data Inválida</div>
<div class="col-md-12" style="text-align: right;" ng-message="dataFimAnteriorInicio">Data final é anterior à data inicial</div>



